{% extends "./templates/layout.html" %}

{% block main %}
  <div class="intro">{{ contents | safe }}</div>

  <div class="row">
    {% for project in projects %}
      <div class="col-sm-6">
        <div class="thumbnail">
            <a href="{{ project.path }}">
              <img src="images/{{ project.coverimage }}" />
            </a>
          <div class="caption">
            <div class="project">
              <a href="{{ project.path }}">
                {{ project.title }} - {{ project.client }}
              </a>
            </div>
            <div class="position">
              <a href="{{ project.path }}">{{ project.role }}</a>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
