<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Mister Cat Design</title>
        <meta name="description" content="Mister Cat Design - Tom Norman">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/css/main.css" />

        <script src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </head>
    <body>
        <header>
          <div class="container">
            <div class="row">
              <div class="col-sm-8">
                <div id="title">
                    <h1 class="title-big site-title"><a href="/">Tom Catmando</a></h1>
                    <h2 class="site-subtitle">Design &amp; Art Direction<br/>User Interface &amp; User Experience</h2>
                </div>
              </div>
              <div class="col-sm-4">
                <div id="contact-details" class='contact-details'>
                    <a class='email' href='mailto:tomcatmandoo@gmail.com'>mistercat.design@gmail.com</a>
                    <span class='tel'>+44 (0)7803 504 897</span>
                    <div class='online'>
                        <a class='cv' href='http://www.mistercat.co.uk/pdf/CV_Tom_Norman_2014.pdf' target='blank'>CV</a>
                        <span class='divider'> ~ </span>
                        <a class='linked' href='http://www.linkedin.com/pub/tom-norman/0/832/828'>Linkedin</a>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </header>

        <div id="main" class="container"/>
            {% block main %}
                Sorry, no content
            {% endblock %}
        </div>

        {% block footer %}
        {% endblock %}
    </body>
</html>
